.story {
  width: 75%;
  padding: 6rem;
  margin: 0 auto;
  font-size: $default-font-size;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: 3px;
  background-color: $color-white;

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}